.row
  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    = form_tag(review_path, method: :post, class: 'form-horizontal') do
      %fieldset
        %legend #Code
        .form-group
          = text_area_tag :current_code, @current_code, {class: 'form-control', id: 'text-current-code', rows: 60, spellcheck: false}
      = submit_tag 'Review', {class: 'btn btn-lg btn-danger'}
  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    %fieldset
      %legend #Robot
      - if @rubycritic_formated
        %p.text-danger
          Code Smells
        - @rubycritic_formated.each_with_index do |smell, index|
          %p.text-primary
            = raw show_smell(smell)
      - if @rubocop_offenses
        %p.text-danger
          Rails Best Practice
        - @rubocop_offenses.each_with_index do |rubocop, index|
          %p.text-primary
            = raw show_best_practice(rubocop)

:javascript
  var editor = CodeMirror.fromTextArea(document.getElementById("text-current-code"), {
    mode: "text/x-ruby",
    matchBrackets: true,
    indentUnit: 2,
    theme: 'monokai',
    smartIndent: true,
    tabSize: 2,
    lineNumbers: true
  });
